#SideMenu {  /*для списка верхнего уровня*/	          
	   /*высота*/
	padding:0;      /*отступы по нулям*/
	margin:0;       /*отступы по нулям*/	        
	list-style-type:none;
    float:left;
}

#SideMenu li{/*для всех элементов списка всех уровней*/	        
	width:170px;
    position:relative; /*Устанавливаем тип позиционирования*/
    height:auto;
    background: rgba(37, 41, 53, 0.90);
    border-radius:2px;
    border: solid 1px;
    border-color:black;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    padding:4px;
    margin:4px;
    z-index:2;
}

#SideMenu li:hover{
   background: rgba(37, 41, 53, 0.990);  
}

#SideMenu li a{    /*для всех неактивных ссылок в списке*/
	color:rgba(255, 255, 255, 0.95);  /*цвет*/
	text-decoration:none;   /*убираем подчерцивание*/
	display:block;  /*превращаем в блочный элемент*/
	/*line-height:30px;*/   /*межстрочный интервал*/
	padding:0 10px; /*отступы сбоков по 10px*/
    
}
#SideMenu li a:hover{ /*для всех активных ссылок в списке*/
	
    color:#ffffff;
}
          



#SideMenu li ul li{            /*Для всех элементов вложенных списков*/
    float:none;        /*Убираем выравнивание*/
    width:220px;       /*Устанавливаем ширину элементов */
    z-index:2;
}

/*#SideMenu li ul li a{         
    line-height:25px;  
}*/

#SideMenu li ul{             /*Для всех блоков вложенных ненумерованных списков*/
    display:none;       /*Выключаем отображение*/
    position:absolute;  /*Позиционируем абсолютно*/
    /*background-color:#4d2001;*/   /*Устанавливаем фон*/
    list-style:none;    /*Отключаем маркеры*/
    padding:0;          /*Отключаем внутренние отступы*/
    left:170px;
    top:0px;
}
#SideMenu li:hover ul{     /*Для всех блоков вложенных ненумерованных списков при активации*/
    display:block;   /*Включаем отображение*/
}

            
            
                                /*Для всех блоков вложенных списков третьего и ниже уровней */
#SideMenu  li:hover ul li ul{    /*А также для них же, но при условии активации списка второго уровня*/        
    display:none;       /*Выключаем отображение*/
    position:absolute;  /*Позиционируем абсолютно*/
    left:150px;         /*сдвигаем все меню вправо на 200px*/
    top:0;              /*Прижимаем к верхнему краю род. элемента, указав 0*/
}
#SideMenu li ul li:hover ul { /*Для всех блоков вложенных списков третьего и ниже уровней при активации*/
        display: block; /*Включаем отображение*/
    }
                                /*Для всех блоков вложенных списков третьего и ниже уровней */
#SideMenu  li:hover ul li ul li ul{    /*А также для них же, но при условии активации списка второго уровня*/        
    display:none;       /*Выключаем отображение*/
    position:absolute;  /*Позиционируем абсолютно*/
    left:150px;         /*сдвигаем все меню вправо на 200px*/
    top:0;              /*Прижимаем к верхнему краю род. элемента, указав 0*/
}

                
    #SideMenu li ul li ul li:hover ul{     /*Для всех блоков вложенных списков третьего и ниже уровней при активации*/
    display:block;      /*Включаем отображение*/